[2016-08-28 01:41] JosefJezek opened #1 "Support for Polymer"
Could you add support for Polymer?

https://www.polymer-project.org/1.0/

Check out this elements for Firebase...
- https://github.com/firebase/polymerfire
- https://elements.polymer-project.org/elements/polymerfire
- https://elements.polymer-project.org/elements/app-storage?active=app-indexeddb-mirror

[2017-01-18 20:47] ryami333 opened #11 "Update custom-type schema from CLI"
Feature Request

Currently, we are able to create an entirely new repository with the `prismic theme` command, using a `custom_types/index.json` file as the custom-types schema. In order to source-control your schema there needs to be a workflow to programmatically _update an existing schema_.

Something along the lines of:
[code]

Benefits:
- Ability to source-control our schema.
- Ability to upd

[2017-01-19 20:59] ryami333 commented on #11
I could possibly do this myself, but I would require some documentation for the available API endpoints, as there is none that currently publicly exist - as far as I can see.

For example, I can deduce from source that there's a '/authentication/newrepository' endpoint, but I'm pretty sure that its existence is 'tribal' knowledge. Is there an 'authentication/updaterepository' endpoint or something

[2017-01-20 13:43] arnaudlewis commented on #11
@ryami333  It could be a great feature but we currently don't have any endpoint for this kind of thing. Maybe you could open a pull request with such feature to send an object like :
{
    custom-types: {...}
}
And we'll implement the endpoint to update the repository directly. But i cannot give you a release date right now.
If you prefer to wait for it, it will be consider for next release :)

[2017-03-01 03:13] ryami333 commented on #11
I had a dig around the source-code, and I'll be honest I can't work out what's going on for the life of me, and I'd be blindly trying to interface with an endpoint that doesn't exist anyway.

Has there been any progress on this? Has it been added to the roadmap? This is really holding us back from using your otherwise-stellar service on any project larger than a simple blog.

[2017-03-01 07:56] arnaudlewis commented on #11
Hi Ryan,

Can you tell me a bit more about your use cases, the kind of project you
are talking about, just to understand your needs. For the implementation, I
can take care of it at some point :)
On Wed, Mar 1, 2017 at 4:13 AM ryami333 <notifications@github.com> wrote:

[2017-03-01 21:41] ryami333 commented on #11
With pleasure :)

So, the entire schema of any custom-type can be represented by a single JSON object, which fundamentally is quite a useful concept. It means that object could theoretically be written to any filesystem and committed to source-control, and even hand-edited.

The limitation though, is that in order to affect any change to that object, I have to copy and paste its contents back into

[2017-03-01 21:56] ryami333 commented on #11
With pleasure :)

Before I endeavour on any new project, I spend a fair amount of time architecting the services, build tools, and deployment procedures required. As it currently stands, we cannot use Prismic because there are no procedures which allow us to source-control and deploy changes to custom-types.

Fundamentally, it would appear that Prismic could be equipped to handle this, because cus

[2017-03-01 22:09] arnaudlewis commented on #11
Ok I get it, it's like defining a nosql model on your code and propagate it to your repository.
Your feedback is really interesting but currently nobody asked for this kind of feature yet so it needs to be prioritized. If it's really required to help you grow your business, you should contact Nathan or Renaud or Intercom from your writing room, they could give you more info about specific dev like

[2017-03-02 09:34] arnaudlewis commented on #1
Hi @JosefJezek, Polymer shouldn't be an issue with the current javascript kit, could you build a little Polymer project just to get started and I can help you implement Prismic into it :)

[2017-03-20 11:26] romariclaurent opened #12 "Support for oauth authentication"
Hi!

Been trying to use prismic-cli on our cluster with OAuth, but the login step does not work.
Looks like the `/authentication/signin?email=..&password=...` does not work with oauth.

As oauth servers can have different login strategies (we use login + password + one time code) it may be best to have the access_token directly sent to the `/authentication/signin` endpoint.

Of course the access_t

[2017-05-02 13:39] srenault commented on #12
Hi Romaric,

The classic way is to generate a permanent access token on your side.
You will be able to provide it in the `prismic-cli` configuration.
Thanks to the permanent token, we will be able to genenrate a valid prismic session.

[2017-05-02 15:17] romariclaurent commented on #12
@srenault great! let me know if you need help testing.

[2017-07-12 01:35] talbet commented on #11
I am researching Prismic for a future project and have a similar use case. I know there is a lot progress on import/export of content, but import/export of custom-types schema would be essential for the dev team I am working with for all the reasons above.

[2017-07-12 01:44] ryami333 commented on #11
Months on, this remains the only reason why I have chosen to stay with Contentful, despite preferring Prismic in most other regards. For reference, I'm going to put these links here:

https://github.com/contentful/contentful-import
https://github.com/contentful/contentful-export

These are the tools that Contentful provide as a means for exporting and importing schema (and/or content), allowing fo

[2017-08-07 08:25] Alendorff opened #17 "Unable to check if repository exists"
I created prismic repo and tried to go next, but your cli tool can't create anything. What I do wrong?

[code]

[2017-08-07 08:49] arnaudlewis commented on #17
Hi, the command 'prismic init' is used to init a project from an existing
repository. If you wanna create a new Prismic repository at the same time,
use the command 'prismic new'

Le lun. 7 août 2017 à 10:25, Nesterenko Maxim <notifications@github.com> a
écrit :

--
Arnaud Lewis
Prismic.io

tel: 0787647471
email: arnaud@prismic.io

[2017-08-07 08:51] Alendorff commented on #17
But I have such repository on prismic.io

[2017-08-07 08:53] Alendorff commented on #17
By the way about `prismic new` command, I just got this:

[code]

[2017-08-07 09:09] #12 closed

[2017-08-07 09:13] srenault commented on #17
Hey @Alendorff !,

Did you use `prismic base`?
Or are you behind a proxy?

[2017-08-07 09:15] Alendorff commented on #17
@srenault hey

[code]

No, I didn't. No I'm not behind a proxy.

[2017-08-07 09:19] srenault commented on #17
Very weird, I have the same env (same version of node & npm) and it's work for me.

[2017-08-07 12:19] srenault commented on #17
Could you try to log the error [here](https://github.com/prismicio/prismic-cli/blob/master/lib/repository.js#L89) (in `node_modules`) ?

[2017-08-07 13:22] Alendorff commented on #17
@srenault I have added log as

[code]

Then I've run

[code]

After that I have this message:

[code]

[2017-08-07 13:46] srenault commented on #17
Not sure about what you did. Did you edit the global `node-modules` ?
Could you try to remove the try/catch. It would be great if we could have the file and and the line where it crashes.

[2017-08-07 20:54] Alendorff commented on #17
@srenault Without try catch I just got this error message

[code]

[2017-08-15 13:41] Alendorff commented on #17
I'm sorry, but it was my mistake. I just forgot that previously (few days before) I specified http_proxy variable to deal with some bit torrent blocks in my region :smile:
So, after
[code]
Everything works fine.
Your app just was the first where I caught this problem, but then I started to catch the same issue for other npm based projects (but not for all).

[2017-08-15 13:41] #17 closed

[2017-10-11 15:07] fwielstra opened #19 "Module not found: Can't resolve 'prismic.io'"
in Preview.js when using the React template.

Changing `import Prismic from 'prismic.io';` to `import Prismic from 'prismic-react';` fixed the issue, but I've not been able to find where exactly this import comes from.

[2017-10-11 15:26] srenault commented on #19
Thanks for reporting this!
I just fixed it here: https://github.com/prismicio/reactjs-starter/commit/1a8c64b6fc91f4298be55b4d4b9b9116e442704d

[2017-10-11 15:26] #19 closed

[2017-12-03 09:16] HaoZeke opened #20 "Change project manager on context."
My project uses `yarn` exclusively but `prismic-cli` runs `npm install`..

Additionally `yarn` is much faster.

[2019-02-13 16:10] krabbypattified opened #22 "WARN deprecated boom@4.3.1: This version is no longer maintained"

[2019-03-07 11:18] #1 closed

[2019-03-11 10:13] phillysnow opened #23 "Update repo-name anywhere"
For some technologies we can't create a theme as they don't use the necessary prismic-configuration.js file. Can we update the cli to search all documents for the 'apiendpoint' to update it?

[2019-03-21 12:07] hypervillain commented on #23
Hey @phillysnow, I'm working on a PR which allows you to specify a path to your configuration file. Would it work for you?

[2019-03-21 13:07] phillysnow commented on #23
Yes, that sounds good to me.

[2019-03-21 13:37] hypervillain commented on #23
Great, I just submitted the PR

[2019-03-21 13:45] #22 closed

[2019-03-21 13:46] hypervillain commented on #20
Hey @HaoZeke, I believe it was updated some time ago as I have not found any `npm install` command in `package.json`. Closing the issue, feel free to reopen it

[2019-03-21 13:46] #20 closed

[2019-03-22 10:41] #23 closed

[2019-06-24 06:16] WebShapedBiz opened #28 "Cannot login"
Hi.
There is a "Nuxt.js Sample multi-page website with navigation" sample on your website that I'm trying to follow. Unfortunately, running
`prismic theme https://github.com/prismicio/nuxtjs-website.git --conf prismic.config.js`,
I couldn't pass the account login step. No error displayed, just always back to asking my username and password again.

[2019-10-13 16:17] michaelpumo commented on #28
Yes, I am also getting this issue when running:

`prismic theme https://github.com/prismicio/gatsby-blog --conf prismic-config.js`

[2019-10-13 19:30] arnaudlewis commented on #28
Try to logout and then try again.
We saw this issue and we’ll investigate it but that should help you move forward in the meantime ;)

[2019-10-14 22:58] carnesen commented on #28
I encountered this too with the `prismic new` command. It got caught in a loop:
[code]
As suggested, after running `prismic logout` I was able to complete the `prismic new` workflow.

[2019-10-18 12:15] paulj commented on #11
Is this something that has come under further consideration in the past few years? I’d also like to be able to version control my schema, and am also using it to code generate richer models for interacting with received data. At the moment, we have to copy and paste; but if we could integrate it with scripts, this would make our workflow much smoother.

[2019-11-19 09:22] cooervo commented on #11
We also need this feature to integrate prismic into our CI/CD worfklow. It is a deal breaker for us.

[2019-11-19 13:58] poornerd commented on #11
+1

[2020-01-21 04:33] pdeka opened #34 "Cannot use --noconfirm in `prismic theme` command because domain cannot be specified"

[2020-02-04 21:00] pdeka commented on #11
+1 The absence of this feature is making Prismic untenable.

[2020-04-21 11:49] mbbillz commented on #11
+1 this would make creating new projects 100x easier

[2020-05-28 14:12] reinierkors opened #44 "Cannot login or initialize new projects"
Hello,

I'm trying to start a new project using a theme, for example:
`prismic theme https://github.com/prismicio/nextjs-blog`

First of all, it does not detect the theme I entered. It asks:
`URL of your theme (zip/github):`

Fine, I manually enter it.

Then I get to the login step, asks me for my password. I enter it and submit, and I get the following error:
[code]

Is Prismic CLI deprecated or

[2020-05-28 15:53] valentinvieriu commented on #44
I can confirm I have the same issue

[2020-05-28 15:59] valentinvieriu commented on #44
I can confirm that starting with version 3.7.8 the `prismic login` does not work.
@reinierkors try installing `npm install -g prismic-cli@3.7.7` and use that version. This worked for me

[2020-05-29 02:19] nytro04 commented on #44
I was having the same issue till i run `prismic logout` and followed the process again. That worked for me.

[2020-05-29 05:55] samueljoe7 commented on #44
Thanks @nytro04 `prismic logout` followed by `prismic login` has resolved the issue for me. Using prismic-cli version 3.7.10

[2020-05-29 06:16] valentinvieriu commented on #44
The interesting part is that I'm a first time user, so there is no way of logging out, as I've was never logged in.

[2020-05-29 09:05] arnaudlewis commented on #44
Hello guys, for the login issue it should be okay with version `3.7.11` so don't hesitate to try it out and come back to yell at me if you see any other weird stuff going on :)
For the theme, it should have been part of a major version but to specify your theme url you must type the command this way: `prismic theme --theme-url <my_theme.url>`
Hope it helps!

[2020-05-29 09:05] #44 closed

[2020-06-09 12:22] saltman424 commented on #11
+1

[2020-06-12 04:47] pdeka commented on #11
+1

[2020-06-12 08:14] arnaudlewis commented on #11
Hey guys,
Keep a close look on the CLI, in the context of slicemachine, and only slicemachine for now, I’m working on interacting between your project and Prismic through the CLI.
In the current dev, I’ll add a command to sync your slices definitions but this command also sync all your custom types locally.

https://github.com/prismicio/slice-machine/issues/8

If you want more, don’t hesitate to s

[2020-06-12 15:04] arnaudlewis commented on #11
An implementation to synchronize the slices coming from prismic to your project.
It includes a piece of code that will download the custom types to write them in a dedicated folder in your project so you have a local versioned copy of it ;)
https://github.com/prismicio/prismic-cli/pull/48

[2020-06-12 15:05] arnaudlewis commented on #11
We have also a command `prismic sm --create-slice` that create a slice remotely in Prismic, if you want to take inspiration from this code.
Happy to help if you need any help or improvement on our side to open new ways no manage your custom types.

[2020-07-11 12:24] tobimori opened #53 "[prismic-cli@3.8.0-beta.0 & prismic-cli@3.8.0-alpha.3] Error: Cannot find module '../common/Frameworks'"
Any command throws the following error.

[code]

[2020-07-11 12:29] tobimori commented on #53
@jrah had the same issue in #48

[2020-07-22 09:23] lihbr opened #55 "[RFC] Ask for login again when token expires"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.0-beta.0

### Reproduction

1. Login with the CLI
2. Let the token expire (with time?)
3. Attempt a command that requires you to be logged in

### What is expected?

It'll be nice for the CLI to understand 401 responses as "your token expired, please login again", ask for credentials then try to perform again the prev

[2020-08-06 10:02] makwanahardik opened #56 "Prismic Command Line Tool Installation failed"
node : v14.3.0
yarn : 1.22.4

![Screenshot 2020-08-06 at 3 31 12 PM](https://user-images.githubusercontent.com/32458204/89519393-ee1e1980-d7f9-11ea-849c-22b72ad65de7.png)

[2020-09-17 14:12] hypervillain opened #58 "[SliceMachine] Method Slices.createLocal breaks because it expects a valid path argument but receives an object"
Method `Slices.createLocal` expects [a `pathToSlices` argument](https://github.com/prismicio/prismic-cli/blob/master/lib/commands/slicemachine/common/slices.js#L100) (a valid string path) but when it's called by the `--pull` command, an object containing the actual required path: https://github.com/prismicio/prismic-cli/blob/master/lib/commands/slicemachine/commands/pull.js#L89

[2020-10-01 13:53] phillysnow opened #63 "[RFC] Automatically add users to an SM Repo"
Can we update the CLI so that users are automatically added to the correct cluster so that we can use `prismic theme` with SM?

[2020-10-01 14:58] arnaudlewis commented on #63
To create a new project on the right cluster with the `theme` command, we need to add a property: `appCtx` in the theme command.
In `https://github.com/prismicio/prismic-cli/blob/master/lib/commands/index.js`:
Inside the context of the theme command:
[code]

And then we need to figure out how to replace the different endpoints in a slicemachine project.
The theme command wasn't meant for that in t

[2020-10-01 15:01] phillysnow commented on #63
@arnaudlewis we would use `--conf sm.json` to replace that endpoint and import the endpoint in to the `nuxt.config` from there, no?

[2020-10-01 16:12] arnaudlewis commented on #63
yes if we can, that would be perfect

[2020-10-15 10:59] samlfair commented on #63
@arnaudlewis On this branch, `--conf sm.json` now seems to be working:

https://github.com/samlfair/nuxtjs-website/tree/smjson

The Prismic endpoint in `nuxt.config.js` points to `sm.json`, and the `theme` command updates the endpoint in `sm.json` just fine. The repo still doesn’t get put on the right cluster, but when I moved my repo to a SM cluster in Manage V2, `prismic sm --create-slice` worke

[2020-10-19 01:42] mrispoli24 opened #66 "prismic sm --setup command sets up a nuxt repository and not a nextjs one when run"
I ran this command in a next js project and it installed all the vue dependencies from nuxt. I'm running the latest version of the CLI 3.7.11 right now.

Doing npm install -g prismic-cli@beta fails so I think there are still things being worked out in the beta version, not sure if that is what the issue is though.

[2020-10-20 09:25] phillysnow opened #67 "[RFC] Improve error message or add login check"
**Issue:**
When running `prismic sm --create-slice` and you are not logged in you will get the error `Error: [fetch] An unexpected (401) Error occurred.`

**How to fix:**
This is fixed by logging in with the CLI so we should add a login check when running `prismic sm --create-slice`.

**Forum Thread of user issue:**
https://community.prismic.io/t/prismic-sm-create-slice-outputs-error-fetch-an-unex

[2020-10-20 14:00] arnaudlewis commented on #63
yes @samlfair, someone from the dev team needs to add the line of code I specified in my first comment, but it's inside the CLI.

[2020-10-21 10:04] phillysnow opened #68 "[RFC] Error message to alert users that they need to be on Slicemachine cluster"
When running commands like `--create-slice` or `--pull` you will receive a 404 error, it would be more helpful if this error message indicated that you were not on a Slicemachine group and could request to be moved, [here on the forum](https://community.prismic.io/t/feature-activations-graphql-integration-fields-etc/847).

**Forum threads of users experiencing this:**
https://community.prismic.io/

[2020-10-22 17:48] phillysnow commented on #66
Hi @mrispoli24  You can use the `--framework` option to define your framework if the incorrect one is configured I believe.

[2020-10-22 19:51] mrispoli24 commented on #66
@phillysnow ah ok let me try that, I just did the configuration manually from what I could piece together of the repositories for nextjs.

[2020-10-23 09:35] phillysnow commented on #66
So it should be `--framework next`

[2020-10-24 18:33] mrispoli24 commented on #66
@phillysnow any way to connect this to an existing repository?

[2020-10-24 18:51] mrispoli24 commented on #66
@phillysnow just ran prismic sm --setup --framework next and it installed the nuxt dependencies again. Makes it hard to keep testing this because I have to recreate a new repository every time.

[2020-10-25 20:17] lihbr commented on #66
Hey @mrispoli24, thanks for trying Slice Machine and submitting this issue!

I'm really sorry to hear that you ran into those issues with Next.js and for the poor experience. I'm not sure I'm able to pinpoint it there. You can try with version `3.8.0-beta.0` if you want but I'm not 100% sure if it was fixed in this preview already.

Also to be frank we're on the eve of releasing a new version of t

[2020-10-26 09:07] phillysnow commented on #66
Also @mrispoli24 if you don't want to set up a Prismic repo, you can specify the `--no-prismic` option like so:
`prismic sm --setup --no-prismic`

[2020-10-26 09:54] hypervillain commented on #67
`create-slice` should not ask for login anymore as it now only creates slices locally (3.8.0)

[2020-10-26 10:00] #67 closed

[2020-10-26 13:38] mrispoli24 commented on #66
@phillysnow thank you I ended up figuring that part out, I think maybe its been a good experience to actually have to hand set everything up anyway because now I have a better understanding of how Prismic works with next vs other headless CMS's I've used.

@lihbr I'll wait for the Wednesday release for sure to try again and see how it compares with my setup. Thanks all.

[2020-10-26 14:45] phillysnow commented on #66
That's cool, it also gives me more impetus to create the "Configure your next project manually" article that I was thinking of :)

[2020-10-26 15:27] mrispoli24 commented on #66
@phillysnow please please do! Took a lot of repo sifting to put it all together myself... also might make it easier for us to use slice machine / contribute for other frameworks like Svelte if we can see more of how it all comes together.

[2020-10-29 10:02] phillysnow commented on #68
Done on latest beta of the CLI.

[2020-10-29 10:03] phillysnow commented on #11
This is something done with the latest beta of the CLI and Slicemachine:
[https://www.slicemachine.dev/documentation/slice-builder](https://www.slicemachine.dev/documentation/slice-builder)

[2020-10-29 10:04] phillysnow commented on #66
This should be available on the latest beta of the CLI

[2020-10-29 10:04] phillysnow commented on #63
This is done on the latest beta of the CLI.

[2020-10-29 10:04] #63 closed

[2020-10-29 10:06] phillysnow commented on #53
Hi @tobimori ,

If you can try doing a pull on the latest beta of the CLI this should be resolved.

[2020-10-29 10:07] #28 closed

[2020-10-29 10:09] phillysnow commented on #58
`--pull` command deprecated in latest version of the CLI.

[2020-10-29 10:09] #58 closed

[2020-10-29 10:16] phillysnow commented on #56
Hi @makwanahardik,

Can you try running `yarn global add prismic-cli@3.8.3-beta.0`?

[2020-10-29 10:20] phillysnow commented on #34
Hi @pdeka,

This is possible on the latest version of the CLI. Please try installing the latest version :)

[2020-10-31 12:12] #53 closed

[2020-11-01 11:14] lihbr opened #69 "CLI fails to refresh token, not throwing on repository creation fail"
### Version

- Prismic CLI version (know it by running `prismic --version`): 3.8.3-beta.0

### Reproduction

1. Login with the CLI: `$ prismic login`
2. Create a new repo: `$ prismic new`
3. Create a second repo: `$ prismic new`

### What is expected?

Both repositories should be created.

### What is actually happening?

Only the first repository is created and the CLI does not throw when 2nd rep

[2020-11-05 14:15] MarcMcIntosh commented on #69
Inbetween doing the two new commands can you check the ~/.prismic file in your home directory.
it should have something like `{ base: ..., cookies: 'SESSION=....;prismic_auth=...}` I know one of the responses for set cookie cause the session to be removed.

[2020-11-06 12:59] lihbr commented on #69
On login:
[code]

After first `sm --bootstrap` (repo is created):
[code]

After second `sm --bootstrap` (repo is not created, no error thrown):
[code]

🤔

[2020-11-06 13:55] MarcMcIntosh commented on #69
Yes, that was fixed in the alpha version, here https://github.com/prismicio/prismic-cli/pull/65/commits/b54831bbd365216533e19ba5532cf32b520ffc03

Our cookie implementation could do with refactoring as there's a few places the cookies are set and parsed.

[2020-11-06 13:58] MarcMcIntosh commented on #69
Either way giving some feedback that there was an error is a good idea :)

[2020-11-06 17:02] lihbr commented on #69
It'll be nice to throw in case repo creation fail still 🤔

[2020-11-10 16:12] MarcMcIntosh commented on #66
should be fixed in #65

[2020-11-10 17:32] zipang opened #70 "prismic sm --setup failed on src directory"
As you may know, Next.js now support the `src/ ` directory structure to heberge all the other sources and mainly : `pages/`
@see https://nextjs.org/docs/advanced-features/src-directory
In this situation (where the page folder is in fact located inside `src/pages/`) the `sm --setup` command will fail with the following message :

[code]

[2021-01-03 17:07] StarpTech opened #74 "Question - How to practice configuration as code with prismic?"
Hello,
we switched from Ghost to Prismic to be more flexible. I didn't expect that there is no way to import data except the manual import on the medium plan. For me, this is a deal-breaker because I can't migrate schema updates or store the schema as code next to my application code. In the past, I used contentful and commercetools. They both provided at least a CLI to do that. Some even shipped

[2021-01-09 01:54] emeraldsanto commented on #70
I'm also experiencing this, using `prismic-cli@3.8.4` and TypeScript.

[2021-01-12 13:23] samlfair opened #75 "Default Route Resolver causes bugs with `prismic sm --setup --no-prismic`"
Users can run `prismic sm --setup --no-prismic` to build out a project. In Nuxt, the command adds a Route Resolver to `nuxt.config.js`. However, the Route Resolver references custom types that don't necessarily exist. So, when the user makes a query, they get an error. It would be good if `--no-prismic` didn't create a Route Resolver.

[2021-01-14 12:56] samlfair opened #76 "`prismic init` prompts to name a repository"
`prismic init` prompts the user to name a repository, suggesting that it's creating a new repo. If the user enters a name for a new repo, it throws an error. The prompt should say something like, "Enter the name of the Prismic repo you would like to use."
<img width="710" alt="Screen Shot 2021-01-14 at 1 51 39 PM" src="https://user-images.githubusercontent.com/31219208/104593474-0aa76300-5670-11eb

[2021-01-18 13:31] lihbr commented on #70
Hey thanks for the report! We'll have a look into it to support this feature 🙂

@hypervillain & @MarcMcIntosh as this have an impact on both the CLI and the builder I think

[2021-01-18 13:34] lihbr commented on #75
I think this will get handled with the new CLI, in any case @MarcMcIntosh 🙂

[2021-01-18 13:48] lihbr commented on #76
Fancy screenshot 👀 I think @MarcMcIntosh was handling that with the CLI refactor!

[2021-01-18 13:52] hypervillain commented on #70
How would it impact the builder @lihbr?

[2021-01-18 14:07] lihbr commented on #70
Resolving slices for the UI? Not sure perhaps it's already agnostic enough my bad ^^'

[2021-01-28 23:16] darrenbarklie opened #77 "Error: Cannot find module 'next-transpile-modules'"
Following the documentation, but encountering the same error on multiple attempts.

Encounter this hang during installation:

[code]
Eventually passes, however attempting to run the project produces:
[code]
Manually installing with `npm install next-transpile-modules` doesn't resolve the issue.

Appreciate any support in unblocking.

[2021-01-29 07:18] lihbr commented on #77
Hey @darrenbarklie, thanks for submitting an issue!

I tried to reproduce using the following ways using both `npm@6.14.9` and `yarn@1.22.4` on `node@14.15.3` and `prismic-cli@3.8.6` (well, more or less the latest version) without success using the following process:

1. `$ npx create-next-app`
2. `$ prismic sm --setup`
3. `$ npm run dev # or `yarn dev``

Can you share your node version, npm versi

[2021-01-29 09:06] darrenbarklie commented on #77
Hey Lucie,  I appreciate the fast response.

I'm running `prismic-3.8.3-beta.0`, fetched with `npm 7.4.3` on `node v15.7.0` on Mac M1.

[code]
Blocking error:
[code]
Hope this helps, but let me know if you require further @lihbr, @hypervillain.

[2021-01-29 09:33] lihbr commented on #77
Thanks for sharing that! When syncing to your version I was able to reproduce it.

Looks like [npm 7 now considers peer dependencies as required](https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/), leading to dependencies not installing themselves at all when there's a mismatch.

I'll check this afternoon to extend the range of React peer dependency on `next-slicezone`, in the meant

[2021-01-29 09:46] darrenbarklie commented on #77
Thanks for the link.  I wasn't aware of this change for NPM7, but now note the optional `--force` flag.  I'll also revisit this later and report back if I can find a fix for v7 before rolling back to v6.

[2021-01-30 18:27] darrenbarklie commented on #77
Hi again @lihbr - I can confirm I'm up and running by reverting to `node v14.15.4`.  Appreciate the guidance.

[2021-01-30 18:27] #77 closed

[2021-02-01 17:14] phillysnow opened #78 "[RFC] Dynamically update slice function name in generate template."
It would be nice that when a new Slice template in Next.js is created, that the Slice function name is also update from MySlice to what ever name was entered in the CLI prompt:
https://github.com/prismicio/prismic-cli/blob/master/lib/commands/slicemachine/templates/next/index.js

The same could be said for the Nuxt.js template to have the field `name: 'SliceName'` added to the script section of th

[2021-02-01 18:35] ReeceM commented on #78
I was looking through the code related to creating slices, and it appears that Mustache is already being used for the model file and. It could be possible to use the same for the others? Or even a regex and replace function of a defined search pattern while / before copying it over to the users project file, although the mustache syntax is about the same anyways.

Also, I was trying to look for wh

[2021-02-09 10:39] MarcMcIntosh commented on #78
Hi this feature has been added to an upstream branch

[2021-02-09 10:41] ReeceM commented on #78
Thanks @MarcMcIntosh 👍

I think I saw a little bit of the edits the other day in the one branch.

[2021-02-14 12:45] a-trost opened #79 "SliceMachine 'next steps' links 404"
## Version
3.8.7

## Reproduction
Bring `prismic sm --setup` to completion.
You are then presented this screen:
![image](https://user-images.githubusercontent.com/19617280/107877118-61cf6c00-6e98-11eb-8509-cee64f063132.png)

## What is expected?
That the links in this section take me to live documentation so I can continue to build my SliceMachine site.

## What is actually happening?
Some of the

[2021-02-17 14:35] Dragana-Trgovcevic opened #80 "error when running prismic sm --setup with npm"
I was running Node 15 which comes with npm version 7. Npm version 7 has changed the way that it handles peer dependency checks and failed to install most of the slice machine lnstall.
Once I figured out the issue was from the changes to npm I downgraded to node 14 and npm 6 and was able to get the prismic sm —setup to work for me. I submitted a pr to the libraries that seemed to be failing the dep

[2021-02-17 15:43] lihbr commented on #77
Fixed 🙌 https://github.com/prismicio/slice-machine/commit/b131f90be582b6fc97f5c7b145b1a6afa156a41b

Thanks again @darrenbarklie

[2021-02-17 15:43] lihbr commented on #80
Fixed 🙌 https://github.com/prismicio/slice-machine/commit/b131f90be582b6fc97f5c7b145b1a6afa156a41b

Thanks again~ ☺️

[2021-02-17 15:43] #80 closed

[2021-02-17 18:58] a-trost opened #81 "[RFC] Add 'whoami' command"
We have a `prismic login` and `prismic logout,` but no way to tell what my current user is. In order to make sure I'm on the right account before I start running Prismic commands I need to logout and log back in.

So something like `prismic whoami` that would return either the current user's email address or a "you are not logged in" response.

[2021-02-18 14:38] lihbr commented on #81
@MarcMcIntosh nice idea imho!

[2021-02-23 13:10] MarcMcIntosh commented on #81
Yes @faresd also mentioned this a while ago, I'll have to look and see if there are any end points that can be safely used to get user information

[2021-02-23 16:12] lihbr commented on #81
When you log in you provide your email, why not just saving this mail at `~/.prismic` along the access token & cookies, and removing it upon log out?

[2021-02-25 12:48] MarcMcIntosh commented on #81
could do :)

[2021-02-25 15:50] lihbr commented on #81
You rock!

[2021-03-01 10:17] MarcMcIntosh commented on #81
What about people that use an oath token to login?

[2021-03-01 10:59] emmmarosewalker opened #84 "Gatsby step-by-step tutorial doesn't work out of the box"
After following the steps exactly in the https://prismic.io/docs/technologies/step-by-step-guide-gatsby my repo is created on prismic.io but no data is pulled in. The example graphql query also doesn't return the expected data.

`{
  "data": {
    "allPrismicHomepage": {
      "edges": []
    }
  },
  "extensions": {}
}`

[2021-03-01 14:17] lihbr commented on #81
No idea, there are multiple ways to log in?

[2021-03-02 16:15] Duaner commented on #79
Hey @MarcMcIntosh this seems to be related to the fact that we don't check if the user token is still relevant and valid. If it's not we still try to create the repo that fails because the token is expired.

We should check if the token is expired, then refresh it if it's the case.

Can we pass a quick fix for that without waiting for the refacto?

[2021-03-02 16:25] MarcMcIntosh commented on #79
Wait, how do the links relate to the token?
I guess this link would require repo-creation.
[code]

Is there a refresh endpoint to check tokens?,
I've asked a few times before about this and have been told to that the cli attempts the creation catch's an error and then prompt the user to login and try again if it's a 401 error.

This should still be the behaviour, I can check and see.
I'd would be

[2021-03-03 15:40] Duaner commented on #79
@MarcMcIntosh Following our discussion, the problem is when you actually have a token that is invalid not when you don't have a token.

You now have a refresh endpoint to check the validity of the token and should check it first

[2021-03-03 16:32] MarcMcIntosh commented on #79
Nice, what about these two links?
https://www.slicemachine.dev/documentation/slicezone
https://slicemachine.dev/documentation/creating-your-own-components-slices

[2021-03-17 17:17] MarcMcIntosh commented on #81
Yes, I've added the command to the mm/oclif branch :)

[2021-03-29 13:09] darrenbarklie commented on #80
Hey @lihbr,

I still get warnings about this when installing with npm, in alignment with the documentation:
- node v14.15.4
- npm v7.5.3
- prismic v3.8.9

In practice, it hangs on the error from about 60 seconds, before eventually resolving to logic flow and "NEXT STEPS" screen. It caused me to abandon a few installation attempts before succeeding.

[code]

[2021-03-29 13:28] lihbr commented on #80
Hey @darrenbarklie, thank you so much for reporting that, we'll have a look at updating the default library with those, in the meantime you can safely uninstall it if you don't need default slices. I'm really sorry for the inconvenience there!

cc @a-trost

[2021-04-07 13:48] #69 closed

[2021-04-07 13:49] #81 closed

[2021-04-07 13:49] MarcMcIntosh commented on #81
add in unrelease mm/oclif branch

[2021-04-07 13:50] #79 closed

[2021-04-07 13:56] #66 closed

[2021-04-07 13:59] #78 closed

[2021-04-07 14:57] #55 closed

[2021-04-07 14:58] MarcMcIntosh commented on #76
I think we removed the init command as it was undocumented

[2021-04-07 15:00] MarcMcIntosh commented on #68
in the cli we've removed the --pull command, and the create-slice command doesn't sync with prismic, slicemachine-ui handles that.

[2021-04-07 15:00] #68 closed

[2021-04-07 15:03] MarcMcIntosh commented on #75
I've removed the --no-prismic flag :)
we should discuss this further with @Duaner

[2021-04-07 17:57] MarcMcIntosh commented on #70
@zipang  thanks for pointing that out, it's been addressed in the commit/PR
fixed here: 5556464b1440afd6d8dd4248c8598a268d8a0d5b

[2021-04-07 17:57] #70 closed

[2021-04-15 16:10] Daeluse opened #87 "Registry configuration is being overwritten"
Tracking down an issue we have been having relating to using Prismic behind a JFrog AF instance. The issue we had was that the package always tries to use the npmjs registry to look for newer available versions. Since this url is blocked by our network, that was always causing an issue.

A fix was implemented as part of 21e05bb6a6f7dd15911d9f0755b693b900e981c7 which added libnpmconfig to source th

[2021-04-15 18:46] MarcMcIntosh commented on #87
Hi @Daeluse You're right about libnpmconfig... it's on that's not the behavour that the readme says it should have :/

That sounds like a lot of hassle, I'll take out the automatic version checking for now, until we figure  out a more reliable way to check the most recent package version from a range of hosts.

That means the version command will be broken but the rest of the cli should continue t

[2021-04-19 14:22] #87 closed

[2021-04-19 14:30] #56 closed

[2021-04-19 14:30] #34 closed

[2021-04-19 15:39] MarcMcIntosh commented on #74
HI @StarpTech

Yes, unfortunately we don't have a write-api for documents...

but we have been working on slicemachine and introducing a custom-types api https://prismic.io/docs/technologies/custom-types-api

Slicemachine enables you to work with schemas in the codebase (just slices for now) and then push them to prismic so content can be added :)

You can try out slicemachine today , it works wit

[2021-04-19 22:31] pvpg commented on #84
Hello @emmmarosewalker. It is weird because if the repository was correctly created, then the query should work. Did you run it in the GraphQL playground?

Maybe it is something related to your plugin configuration. Could you share it here with us so we can take a look?

[2021-04-25 13:08] Bram-Zijp opened #91 "Syncing custom_types and slices from the CLI"
As I wanted to have my types managed in code (and only in code), I hacked together a sync command in a fork. The code is not that good. I didn't feel like spending time on refactoring properly after getting it to work (as *I desired* at the moment of writing). I can imagine Prismic has their own views of how to add these type of functionality. This fork will hopefully become redundant.

I added th

[2021-04-26 16:45] lihbr commented on #91
Hey @Bram-Zijp, thanks for sharing your work on this fork! That can be helpful to some people indeed and as you mentioned it everyone's free to use it at their own risks!

Moving forward, we might not need this type of sync anymore as we're working on making git repositories the source of truth for Prismic custom types! You might be interested to have a read here: https://github.com/prismicio/slic

[2021-04-26 16:45] #91 closed

[2021-04-27 11:03] phillysnow opened #93 "`prismic theme` with content, doesn't work for SM repos"
When trying to creating a prismic repo with pre-generated content from a `documents` folder, none of the Shared Slices from Slice Machine are added to the custom types, and therefore the documents can't add the data to these non-existing Slices.

The custom types editor for these custom types using shared slices also breaks.

[2021-05-31 16:42] Duaner commented on #93
This should be fixed now, closing this

[2021-05-31 16:42] #93 closed

[2021-06-09 15:24] asotog opened #100 "Out of date dependency"
Hi guys,

I tried CLI but I see, still adding old dependencies `prismic-javascript`, even though [documentation](https://prismic.io/docs/technologies/prismicio-client-technical-reference) shows this:

![image](https://user-images.githubusercontent.com/813023/121383059-6535aa00-c904-11eb-9e3e-5684dfbc9d1e.png)

[2021-07-13 19:10] kris10cabrera opened #103 "How to login to prismic-cli via GitHub account?"
I recently signed up for an account on `prismic.io` via my GitHub account.

After running `prismic login` I am getting stuck at the requested `password` step as I never created a password since I am using the GitHub oAuth.

I am using`prismic-cli: 3.8.13`.

[2021-07-15 10:23] samlfair opened #104 "[Alpha] "Invalid content signature" error on theme"
In the alpha, I was getting this error:
[code]

I switched to @latest and the theme command worked fine.

[2021-07-15 13:30] Duaner commented on #103
Hey @kris10cabrera ,

We are currently working on this new feature.
This should be available this month.

We'll notify you when it's done.

[2021-07-23 21:53] MarcMcIntosh commented on #104
Dealt with it :)

[2021-07-23 21:53] #104 closed

[2021-07-27 13:17] MarcMcIntosh commented on #100
hi @asotog  which framework are you experiencing this with?

[2021-07-27 14:03] asotog commented on #100
hi, I'm adding prismic to a nextjs project

[2021-08-04 16:09] samlfair opened #113 "[bug] `--no-prismic` flag disappeared with v4"
v3 of the CLI included a `--no-prismic` flag to skip repo creation with `prismic sm --setup`. It looks like that flag is gone now, and it looks like some users are still trying to use it but getting an error:

![image](https://user-images.githubusercontent.com/31219208/128215835-c063a1e7-6835-4229-95cf-425552408a61.png)

[2021-08-17 08:56] #103 closed

[2021-09-01 17:28] MarcMcIntosh commented on #113
Added here :)
https://github.com/prismicio/prismic-cli/pull/119

[2021-09-01 17:29] MarcMcIntosh commented on #75
`--no-prismic` has be renamed and added here https://github.com/prismicio/prismic-cli/pull/119

We'll have to look at the route resolver issue

[2021-09-03 18:51] tony19 opened #124 "Could not resolve https://github.com/prismicio/vuejs-blog.git/archive/main.zip"
Following the [*Run the theme command*](https://prismic.io/docs/technologies/example-projects-vuejs#run-the-theme-command) step from the docs, I see the following error:

[code]

[2021-09-03 19:37] tony19 commented on #124
It seems the GitHub URLs to get a zipball/tarball no longer work:

[code]

However, this API URL works:

[code]

The code in `maybeGitHubRepo()` probably needs to be refactored to use that API URL:

https://github.com/prismicio/prismic-cli/blob/af9deb026972e636a9d9d1939e8edc763ee02a55/packages/prismic-cli/src/prismic/base-command.ts#L150-L153

[2021-09-03 19:47] MarcMcIntosh commented on #124
HI @tony19 , thanks for pointing this out
Try with out putting .git at the end and that should work :)

[2021-09-03 19:52] tony19 commented on #124
Thanks that worked

[2021-09-04 20:41] #124 closed

[2021-09-04 21:01] tony19 commented on #124
I noticed the docs have not been updated to fix that typo. Is there a related commit for that?

[2021-09-23 11:07] MarcMcIntosh commented on #100
is this with the `new` command or the `theme` command?
The generator in `new` has been updated, but if it's a theme I'll need the url so I can pass this along :)

[2021-09-23 16:17] #113 closed

[2021-09-23 16:18] #76 closed

[2021-10-27 19:56] javlund opened #131 "Commands fail due to wrong path"
Starting completely anew with Prismic, on a Windows 10 machine. Trying to run this example: https://prismic.io/docs/technologies/configure-your-project-nextjs

When I run this specific command:
`prismic theme --theme-url https://github.com/prismicio-community/slice-library-starter-next --conf sm.json`

I get this error: `Error: ENOENT: no such file or directory, scandir 'C:\Users\jacob\AppData\Roa

[2021-10-30 15:07] esplito commented on #131
I'm having the same problem on Mac OS Monterrey, running node v.17.0.1

[2021-10-31 10:06] lihbr commented on #131
Hey there, thank you so much for your report!

Can you tell us which version of `prismic-cli` are you using? You can get it by running `prismic --version`

@MarcMcIntosh, can you have a look at it after? (maybe it's already fixed?)

[2021-10-31 10:35] javlund commented on #131
You're welcome - I used the newest at that time, pretty sure it was 4.2.0. Completely new install. Can't check anymore as I moved on to Strapi in order to get something up and running.

[2021-10-31 10:41] esplito commented on #131
I'm also using 4.2.0. (`prismic-cli/4.2.0 darwin-x64 node-v17.0.1` is what I get from running `prismic --version`) :)

[2021-10-31 21:29] MarcMcIntosh commented on #131
@esplito @javlund
I see you're using node version 17, Is this only happening on node version 17?

[2021-10-31 21:51] MarcMcIntosh commented on #131
I've managed to recreate the issue using nvm, node version 17 and `npx prismic-theme`

[2021-11-01 10:35] javlund commented on #131
I think I tried downgrading to v16 with the same result, but I'm not 100% sure though.

[2021-11-01 14:02] MarcMcIntosh commented on #131
I've not been able to recreate this issue when using node version 16 :/
17 on the other hand I can, I've opened up an issue on yeoman-environment asking if this is a version 17 specific issue.

I'll have to make some time to see if moving the directory to `lib` breaks the generators :)

[2021-11-02 08:50] lihbr commented on #131
Thanks Marc! Node 17 is indeed a technology preview that was just released. That kind of bug can be expected and is likely to be fixed before next LTS (Node 18) release 🚀

_[Node releases](https://nodejs.org/en/about/releases)_

[2021-11-05 17:29] itsjavi opened #132 "prismic-cli fails to login inside a docker container"
I usually work in a dockerized development environment and, it seems it's not possible to make prismic-cli working inside a nodejs docker container.

The problem seems that it fails to open the browser (for obvious reasons, since containers cannot open dialogs of the host). I get this error:

[code]

Are you going to make this tool compatible with dockerized environments?
Instead of opening the br

[2021-11-08 12:30] MarcMcIntosh commented on #131
I wrote to the yeoman team asking if they knew about this issue, I'll have to free up some time to move the build files to the lib directory and confirm that resolves the issue and doesn't cause any more issues with older versions of node.

[2021-11-30 11:47] MarcMcIntosh commented on #131
It seems a few more things break with node version 17 than just adding '/lib/generators/` to the lookup paths.
#134
I'm still investigating these issues

[2021-12-10 17:21] MarcMcIntosh commented on #132
Hello,

That's an interesting issue.

When the cli logins in, it'll add a token to `~/.prismic`, it should be possible to copy this file into the docker container. Although it will expire after after a day or two of not being used.

[2021-12-27 18:02] MarcMcIntosh commented on #131
@javlund @esplito A new version with the fix sound be released in the new year :)
Thanks for reporting the issue :)

[2022-01-27 13:54] MarcMcIntosh commented on #131
@javlund @esplito
A fix has been released. sorry it took so long :)

[2022-01-27 13:54] #131 closed

[2022-01-27 13:55] #75 closed

[2022-01-27 13:55] #74 closed

[2022-01-27 13:55] #84 closed

[2022-01-27 13:56] #100 closed

[2022-01-27 13:56] #132 closed

[2022-09-14 10:56] umxr opened #176 "Unable to login"
im currently trying to initialise a new prismic project and integrating it with my next js app. when running the following command

```npx @slicemachine/init --repository tridentlabs && npm run slicemachine```
i am shown this error
<img width="1379" alt="Screenshot 2022-09-14 at 11 55 58" src="https://user-images.githubusercontent.com/20203468/190136048-a93eff9b-6b7e-47f9-abe5-4bb6c86a471f.png">